/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_light {
  --text-font: IBM Plex Mono;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-font: IBM Plex Mono;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  justify-items: end;
  align-items: center;
}

.theme_light header::before {
  border: 1px var(--text-color);
  border-style: solid solid none none;
}

.theme_light header::after {
  border: 1px var(--text-color);
  border-style: none none solid solid;
}

.theme_light .rec-icon {
  color: var(--bg-color);
}

.theme_light .rec-icon::after {
  content: '';
  background-color: var(--bg-color);
}

.theme_light .header__theme-menu-item {
  color: var(--text-color);
}

.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color);
}

.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--text-color);
}

.theme_light .header__theme-menu-button:hover {
  outline-color: rgba(53, 52, 48, 0.4);
}

.theme_light .heading {
  color: #FFC2E6;
}

.theme_light .title-decor {
  color: var(--text-color);
}

.theme_light .subheading {
  color: var(--text-color);
}

.theme_light .heading-final {
  color: #FFC2E6;
}

.theme_light .footer-decor-top {
  border: 1px var(--text-color);
  border-style: solid solid none none;
}

.theme_light .footer-decor-bottom {
  border: 1px var(--text-color);
  border-style: none none solid solid;
}

@media (prefers-color-scheme: light) {

  :root {
    /* Дублируем переменные светлой темы */    
    --text-font: IBM Plex Mono;
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
  }
  
  .page {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --text-font: IBM Plex Mono;
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    background-image: url(../images/cover-image-light.png);
  }
  
  .header {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: end;
    align-items: center;
  }
  
  header::before {
    border: 1px var(--text-color);
    border-style: solid solid none none;
  }
  
  header::after {
    border: 1px var(--text-color);
    border-style: none none solid solid;
  }
  
  .rec-icon {
    color: var(--bg-color);
  }
  
  .rec-icon::after {
    content: '';
    background-color: var(--bg-color);
  }
  
  .header__theme-menu-item {
    color: var(--text-color);
  }
  
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color);
  }
  
  .header__theme-menu-button_active {
    outline: 1px solid var(--text-color);
  }
  
  .header__theme-menu-button:hover {
    outline-color: rgba(53, 52, 48, 0.4);
  }
  
  .heading {
    color: #FFC2E6;
  }
  
  .title-decor {
    color: var(--text-color);
  }
  
  .subheading {
    color: var(--text-color);
  }
  
  .heading-final {
    color: #FFC2E6;
  }
  
  .footer-decor-top {
    border: 1px var(--text-color);
    border-style: solid solid none none;
  }
  
  .footer-decor-bottom {
    border: 1px var(--text-color);
    border-style: none none solid solid;
  }
}

