/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-font: IBM Plex Mono;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
}
